{% include "header.html" %}
    <h1 class="heading">Add Game</h1>
    <div class="catalog-form">
        <form method="POST">
            <label class="form-label" for="name">Title</label>
            <input class="form-element" type="text" name="name" required>
            <br>
            <br>
            <label class="form-label" for="category">Category</label>
            <input class="form-element" type="text" name="category" required>
            <br>
            <br>
            <label class="form-label" for="description">Description:</label>
            <input class="form-element-description" type="text" name="description" required>
            <br>
            <br>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
{% include "footer.html" %}